@import "reset";

header{
    .header-top{
        h2{

        }
        ul{
            li{
                a{
                    font-family: 'Manrope', sans-serif;
                    font-size: 1.2rem;
                    line-height: 1.5;
                }
            }
        }
        button{

        }
    }
}